<!DOCTYPE html>
<html lang="pt-br"
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
    <link rel="stylesheet" href="../css/cadastroPaciente.css">

    <title> perfilMedico </title>
</head>

<body>
    
    <header>
        
        
            <div id="logo">

                <ul>
                    <img alt="logoprontmed" class="img" src="../assets/img.png">
                    <h3>Prontmed</h3>
                    
                    
                </ul>
                
            </div>
    </header>


           <div class="row">

            <div class="card blue">
                <a href="/agendamentos">
                <h2>Novo Agendamento</h2>
                <p>Cadastre sua agenda.</p>
                <br><br>
                <img class="image" src="../assets/69571.png"  alt="" />

              </a>
            
              </div>
              <div class="card blue">
                <a href="/agendamentos">
                <h2>Novo Exame</h2>
                <p>Cadastre sua agenda.</p>
                <br><br>
                <img class="image" src="../assets/69571.png"  alt="" />

              </a>
            
              </div>
              <div class="card blue">
                <a href="../cadastros/cadastroPaciente1.html">
                <h2>Novo Prontuario</h2>
                <p>Cadastre novo Prontuario</p>

                <br><br>
                <img class="image" src="../assets/paciente.png"  alt="" />

              </a>
               

              </div>

           </div>
                    
                        
            </body>


</html>