<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/paginaPerfil.css">

    <title> perfilPaciente </title>
</head>
<STYLE>A {text-decoration: none;} </STYLE>
<body>
    <input type="checkbox" id="check">
    <!--header começo-->
    <header>
        <div>
            <label for="check">
            </label>
            <div id="logo">

                <img class="logo" src="../assets/img.png">

                <div id="title" class="left">
                    <h1>ProntMed</h1>
                </div>
            </div>
    </header>
    <div class="sidebar">
            <img src="../assets/paciente.png" class="imagem" alt>

            <body>
                <div class="row">
                  <div class="card green">
                    <h2>Vizualizar Prontuários</h2>
                    <p>Vizualize seus prontuários.</p>
                    <br><br>
                    <img class="image" src="../assets/69571.png"  alt="" />
                  </div>
                  <div class="card blue">
                    <h2>Vizualizar agenda</h2>
                    <p>Vizualize suas consultas marcadas</p>
                    <br><br>
                    <img class="image" src="../assets/69571.png"  alt="" />
                  </div>
              </body>
</body>

</html>