<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="../css/paginaPerfil.css">

    <title> perfilMedico </title>
</head>
<STYLE>A {text-decoration: none;} </STYLE>
<body>
    <input type="checkbox" id="check">
    <!--header começo-->
    <header>
        <div>
            <label for="check">
            </label>
            <div id="logo">

                <img class="logo" src="../assets/img.png">

                <div id="title" class="left">
                    <h1>ProntMed</h1>
                </div>
            </div>
    </header>
    <div class="sidebar">
            <img src="../assets/medico.png" class="imagem" alt>

            <body>
                <div class="row">
                  <div class="card green">
                    <a href="../formularios/agendamento.html">
                    <h2>Marcar novos agendamentos</h2>
                    <p>Agende novos pacientes</p>
                  </a>
                  
                  </div>
                  <div class="card blue">
                    <a href="../cadastros/cadastroPaciente1.html">
                    <h2>Novos Pacientes</h2>
                    <p>Cadastre novos pacientes</p>
                  </a>
                   
                  </div>
             
                  <div class="card red">
                    <a href="../formularios/anamnese.html">
                    <h2 >Novos Prontuarios</h2>
                    <p>Crie novos prontuários</p>
                  </a>
                    <img class="image"  alt="" />
                  </div>
                </div>

                <div class="row">
                    <div class="card green">
                      <h2>Novos Exames</h2>
                      <p>Marque novos exames</p>
                      <img class="image"  alt="" />
                    </div>
               
                    <div class="card blue">
                      <h2>Ver Agendas</h2>
                      <p>Veja Sua Agenda</p>
                      <img class="image"  alt="" />
                    </div>
               
                    <div class="card red">
                      <h2>Ver Pacientes</h2>
                      <p>Veja seus pacientes</p>
                      <img class="image"  alt="" />
                    </div>
                  </div>
              </body>


</html>