<!DOCTYPE html>
<html lang="pt-br"
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">>


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="../css/paginaPerfil.css">

    <title> perfilMedico </title>
</head>
<STYLE>A {text-decoration: none;} </STYLE>
<body>
    <input type="checkbox" id="check">
    <!--header começo-->
    <header>
        <div>
        
            <div id="logo">

                <img class="logo" src="../assets/img.png">

                <div id="title" class="left">
                    <h1>ProntMed</h1>
                </div>
            </div>
    </header>
    <div class="sidebar">
            <img src="../assets/medico.png" class="imagem" alt>

            <body>
                


                <table class="container">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Local</th>
                            <th>Data</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="paciente: ${paciente}">
                        
                        <div class="row">
                            <td><a th:href="${(#mvc.url('AC#detalhesEvento').arg(0,paciente.id)).build()}"><span th:text="${paciente.nome}"></span></a></td>
                            
                            <td><span th:text="${paciente.cpf}"></span></td>
                            <td><span th:text="${paciente.email}"></span></td>
                            
                        </div>
                    </tr>
                </tbody>
                </table>
            </body>


</html>