<!DOCTYPE html>
<html lang="pt-br"
xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
    <link rel="stylesheet" href="../css/cadastroPaciente.css">

    <title> perfilMedico </title>
</head>

<body>
    
    <header>
        
        
            <div id="logo">

                <ul>
                    <img alt="logoprontmed" class="img" src="../assets/img.png">
                    <h3>Prontmed</h3>
                    
                    
                </ul>
                
            </div>
    </header>


           <table class="principal">
                    
                        <div class="tabela">
                            <tr>
                                <th>Nome</th>
                                <th>Cpf</th>
                                <th>Email</th>
                            
                            </tr>
                        </div>
                    
                    <tbody>
                    <tr th:each="paciente: ${paciente}">
                        
                        <div class="row">
                            <td><a th:href="${(#mvc.url('AC#detalhesEvento').arg(0,paciente.id)).build()}"><span th:text="${paciente.nome}"></span></a></td>
                            
                            <td><span th:text="${paciente.cpf}"></span></td>
                            <td><span th:text="${paciente.email}"></span></td>
                            
                        </div>
                    </tr>
                </tbody>
                </table>
            </body>


</html>