<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>anamnese</title>
</head>
<body>
    
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="../css/cadastro.css">
    
    
</head>
<body>

<header>
   
    <ul>
        <img alt="logoprontmed" class="img" src="../assets/img.png">
        <h3>Prontmed</h3>
        
        
    </ul>
    
</header>

<h3 class="linha2">Responda as seguintes perguntas, digitando Sim ou Não.</h3>

<form action="" method="post">
    
    <div class="principal">
        <div class="linha">
            <label for="Cpf">CPF do paciente*<input type="text" name="cpf" id="Cpf"> </label>

        <div class="linha">  
            <label for="ExerciciosFisicos">Você pratica exercicios físicos?*<input type="text" name="exerciciosFisicos" id="ExerciciosFisicos"> </label>
        </div>    
        </div>
        <div class="linha">
            <label for="AlimentacaoBalanceada">Alimentação balanceada?*<input type="text" name="alimentacaoBalanceada" id="BlimentacaoBalanceada"> </label>
        </div>
        <div class="linha">
            <label for="Tabagista">Tabagista?*<input type="text" name="tabagista" id="Tabagista"> </label>
        </div>
        <div class="linha">
            <label for="ConsomeAlcool">Consome bebidas alcoolicas?*<input type="text" name="consomeAlcool" id="ConsomeAlcool"> </label>
        </div>
        <div class="linha">
            <label for="AntecendentesAlergicos">Antecendentes Alergicos?*<input type="text" name="antecedentesAlergicos" id="AntecendentesAlergicos"> </label>
        </div>
    
        <div class="linha">
            <label for="ProblemasOrtopedicos">Problemas Ortopidicos?*<input type="text" name="problemasOrtopedicos" id="ProblemasOrtopedicos"> </label>
        </div>
        <div class="linha">
            <label for="ProblemasCardiacos">Problemas Cardiascos?*<input type="text" name="problemasCardiacos" id="ProblemasCardiacos"> </label>
        </div>
        
    </form>
    <div class="botoes">
        
            <input type="submit">
</div>
</section>
</div>
     <p><small>*</small></p>


</body>

</html>
</html>