<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="../css/cadastro.css">
    
    
</head>
<body>

<header>
   
    <ul>
        <img alt="logoprontmed" class="img" src="../assets/img.png">
        <h3>Prontmed</h3>
        
        
    </ul>
    
</header>

<form action="" method="post">
    
    <div class="principal">

        <div class="linha">
            <label for="Cpf">CPF do paciente*<input type="text" name="Cpf" id="Cpf"> </label>
           
            <label for="Ef">Exercícios Físicos *</label>
            
            
            <label for="Ef">Sim<input type="radio" name="Exercícios Físicos" id="Ef"></label>
            
            
            
            <label for="Ef"> Não <input type="radio" name="Exercícios Físicos" id="Ef"> </label>
           
            </div>


            <div class="linha">
            
            <label for="Ab">Alimentação Balanceada*</label>
            
            
            <label for="Ab">Sim <input type="radio" name="Alimentação Balanceada" id="Ab"> </label>
           
            
           
            <label for="Ab">Não <input type="radio" name="Alimentação Balanceada" id="Ab">  </label>
           

        
            <label for="Ab">Tabagista*</label>
            
            <label for="Ab">Sim <input type="radio" name="Antecedentes Alérgicos" id="Ab"></label>
            <label for="Ab">Não <input type="radio" name="Antecedentes Alérgicos" id="Ab"></label>
            
            </div>
            <div class="linha">
            <label for="Ef">Ingere Alcool*</label>
           
            <label for="Ef">Sim <input type="radio" name="Ingere alcool" id="Ef"> </label>
            <label for="Ef">Não <input type="radio" name="Ingere alcool" id="Ef"></label><br>
            
            <label for="Ab">Antecedentes Alérgicos*</label>
            
            <label for="Ab">Sim <input type="radio" name="Antecedentes Alérgicos" id="Ab"> </label>
            
            
            <label for="Ab">Não <input type="radio" name="Antecedentes Alérgicos" id="Ab"></label>

        </div>

        <div class="linha">


            <label for="te">Problemas Ortopédicos*</label>
           
            <label for="Ef">Sim <input type="radio" name="Problemas Ortopédicos" id="te"> </label> 
            <label for="te">Não <input type="radio" name="Problemas Ortopédicos" id="te"> </label><br>
        
            <label for="Ef">Problemas Cardíacos*</label>
          
            <label for="Ef">Sim    <input type="radio" name="Problemas Cardíacos" id="Ef"></label>
            <label for="Ef">Não    <input type="radio" name="Problemas Cardíacos" id="Ef"></label><br>
        </div>
        
         

    </form>
    <div class="botoes">
        
            <input type="submit">
</div>
</section>
</div>
     <p><small>*</small></p>


</body>

</html>
</html>