<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="projection, screen, tv" rel="stylesheet" type="text/css" href="../css/cadastro.css">
    
    
</head>
<body>

<header>
   
    <ul>
        <img alt="logoprontmed" class="img" src="../assets/img.png">
        <h3>Prontmed</h3>
        
        
    </ul>
    
</header>

<form action="" method="post">
    
    <div class="principal">

        <div class="linha">
            <label for="Cpf">CPF do paciente*<input type="text" name="Cpf" id="Cpf"> </label>
            <label for="type">Tipo da Agenda*<input type="text" name="tipo" id="tipo"> </label>
            
        </div>
        <div class="linha">
            <label for="type">Data Agenda*<input type="date" name="tipo" id="tipo"> </label>
            <label for="type">Hora Agenda*<input type="time" name="tipo" id="tipo"> </label>
        
        </div>
            
        
        
         

    </form>
    <div class="botoes">
        
            <input type="submit">
</div>
</section>
</div>
     <p><small>*</small></p>


</body>

</html>
</html>